{% block footer %}
    <footer>
        <div class="bg-black">
            <!-- special-sponsors -->
            <div class="container mx-auto grid grid-cols-5 gap-3 p-4">
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/aras.png" alt="sponsor primario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/tecate.png" alt="sponsor primario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/caliente.png" alt="sponsor primario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/afirme.png" alt="sponsor primario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/fox_sports.png" alt="sponsor primario">
                </div>
            </div>
            <!--            <hr class="container mx-auto border-0 h-px bg-gradient-to-r from-gray-800 via-white to-gray-800">-->
            <!-- normal-sponsors -->
            <div class="container mx-auto grid grid-cols-4 gap-2 mt-4">
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/telcel.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/calimax.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/cocacola.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/silza.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/volaris.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/powerade.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/carlsjr.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/kermato.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/charly.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/coppel.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/sukarne.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/nissan.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/abc.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/calientemx.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/gonher.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/pegaduro.png" alt="sponsor secundario">
                </div>
            </div>
            <!-- site-map -->
            <div class="container mx-auto grid grid-cols-6 gap-2 text-gray-400 text-center mt-4">
                <div>
                    <ul>
                        <li class="uppercase text-red-600 font-extrabold">Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 font-extrabold">Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 font-extrabold">Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 font-extrabold">Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 font-extrabold">Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 font-extrabold">Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                        <li>Title</li>
                    </ul>
                </div>
            </div>
            <!-- powered by -->
            <div class="container mx-auto grid grid-col p-4">
                <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/Logo-Xolos-Red.png" alt="logo-footer">
                <p class="capitalize text-red-600 text-center text-xs">
                    <a class="hover:text-gray-300" href="#"> aviso de Privacidad </a> / <a class="hover:text-gray-300" href="#"> terminos y condiciones </a>
                </p>
                <p class="capitalize text-red-600 text-center font-bold text-lg">
                    Club Tijuana Xoloitzcuintles de Caliente ©.
                </p>
            </div>

        </div>
    </footer>
{% endblock %}
