{% block footer %}
    <footer>
        <div class="bg-black">
            <!-- special-sponsors -->
            <div class="container mx-auto grid grid-cols-2  md:grid-cols-5 gap-3 p-4 ">
                <div class="mb-5">
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/aras.png" alt="sponsor primario">
                </div>
                <div class="mb-5">
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/tecate.png" alt="sponsor primario">
                </div>
                <div class="mb-6">
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/caliente.png" alt="sponsor primario">
                </div>
                <div class="mb-6">
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/afirme.png" alt="sponsor primario">
                </div>
                <div class=" col-span-2 md:col-span-1">
                    <img class="mx-auto w-52 h-20 md:w-auto md:h-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/fox_sports.png" alt="sponsor primario">
                </div>
            </div>
            <!--            <hr class="container mx-auto border-0 h-px bg-gradient-to-r from-gray-800 via-white to-gray-800">-->
            <!-- normal-sponsors -->
            <div class="container mx-auto px-4 grid grid-cols-4 gap-3 mt-4">
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/telcel.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/calimax.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/cocacola.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/silza.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/volaris.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/powerade.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/carlsjr.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/kermato.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/charly.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/coppel.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/sukarne.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/nissan.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/abc.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/calientemx.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/gonher.png" alt="sponsor secundario">
                </div>
                <div>
                    <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/patrocinadores/pegaduro.png" alt="sponsor secundario">
                </div>
            </div>
            <!-- site-map -->
            <div class="invisible md:visible container md:mx-auto grid grid-cols-6 md:gap-2 text-gray-400 text-center mt-4">
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Club</li>
                        <li>Plantel</li>
                        <li>Cuerpo Tecnico</li>
                        <li>Plantel Femenil</li>
                        <li>Fuerzas basicas</li>
                        <li>Palmares</li>
                        <li>Historia</li>
                        <li>Directiva</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Torneo</li>
                        <li>Plantel</li>
                        <li>Cuerpo Tecnico</li>
                        <li>Plantel Femenil</li>
                        <li>Fuerzas basicas</li>
                        <li>Palmares</li>
                        <li>Historia</li>
                        <li>Directiva</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Estadio</li>
                        <li>Plantel</li>
                        <li>Cuerpo Tecnico</li>
                        <li>Plantel Femenil</li>
                        <li>Fuerzas basicas</li>
                        <li>Palmares</li>
                        <li>Historia</li>
                        <li>Directiva</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Noticias</li>
                        <li>Plantel</li>
                        <li>Cuerpo Tecnico</li>
                        <li>Plantel Femenil</li>
                        <li>Fuerzas basicas</li>
                        <li>Palmares</li>
                        <li>Historia</li>
                        <li>Directiva</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Medios</li>
                        <li>Plantel</li>
                        <li>Cuerpo Tecnico</li>
                        <li>Plantel Femenil</li>
                        <li>Fuerzas basicas</li>
                        <li>Palmares</li>
                        <li>Historia</li>
                        <li>Directiva</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="uppercase text-red-600 md:font-extrabold">Contacto</li>
                        <li>Plantel</li>
                        <li>Cuerpo Tecnico</li>
                        <li>Plantel Femenil</li>
                        <li>Fuerzas basicas</li>
                        <li>Palmares</li>
                        <li>Historia</li>
                        <li>Directiva</li>
                    </ul>
                </div>
            </div>
            <!-- powered by -->
            <div class="-mt-64 md:mt-0 container mx-auto grid grid-col p-4">
                <img class="mx-auto" src="https://xolos.com.mx/bundles/frontend/images/Logo-Xolos-Red.png" alt="logo-footer">
                <p class="capitalize text-red-600 text-center text-xs">
                    <a class="hover:text-gray-300" href="#"> aviso de Privacidad </a> / <a class="hover:text-gray-300" href="#"> terminos y condiciones </a>
                </p>
                <p class="capitalize text-red-600 text-center font-bold text-lg">
                    Club Tijuana Xoloitzcuintles de Caliente ©.
                </p>
            </div>

        </div>
    </footer>
{% endblock %}
