{% block header %}
    <header>
        <div class="w-full bg-red-600">
            <div class="grid grid-cols-3">
                <div>
                    <a class="absolute top-0 ml-48" href="#">
                        <img class="h-28" src="https://xolos.com.mx/bundles/frontend/images/logo_new.png" alt="logo">
                    </a>
                </div>
                <div>
                    <img src="https://xolos.com.mx/bundles/frontend/images/xoloshop-banner.png" alt="xoloshop">
                </div>
                <div class="flex items-center justify-center">
                    <ul class="flex content-betwen text-white">
                        <li class="m-1"><i class="fab fa-facebook"></i></li>
                        <li class="m-1"><i class="fab fa-twitter"></i></li>
                        <li class="m-1"><i class="fab fa-instagram"></i></li>
                        <li class="m-1"><i class="fab fa-tiktok"></i></li>
                        <li class="m-1"><i class="fab fa-youtube"></i></li>
                    </ul>
                </div>
            </div>
            <!-- <a href="#">
                <img class="mx-auto h-12" src="https://xolos.com.mx/bundles/frontend/images/xoloshop-banner.png" alt="xoloshop">
            </a>
            <a class="absolute top-0 ml-48" href="#">
                <img class="h-24" src="https://xolos.com.mx/bundles/frontend/images/logo_new.png" alt="logo">
            </a> -->
        </div>

        <div class="bg-black text-white">

            <!-- Begin Navbar -->
            <nav class="bg-black dark:bg-gray-800">
                <div class="container p-4 mx-auto">
                    <div class="flex items-center justify-center text-white capitalize dark:text-white">
                        <a href="#" class="text-white dark:text-gray-200 border-b-2 border-red-500 mx-1.5 sm:mx-2">INICIO</a>

                        <a href="#" class="border-b-2 border-transparent hover:text-gray-300 dark:hover:text-gray-100 hover:border-red-500 mx-1.5 sm:mx-2">CLUB</a>

                        <a href="#" class="border-b-2 border-transparent hover:text-gray-300 dark:hover:text-gray-100 hover:border-red-500 mx-1.5 sm:mx-2">NOTICIAS</a>

                        <a href="#" class="border-b-2 border-transparent hover:text-gray-300 dark:hover:text-gray-100 hover:border-red-500 mx-1.5 sm:mx-2">VIDEOS</a>

                        <a href="#" class="border-b-2 border-transparent hover:text-gray-300 dark:hover:text-gray-100 hover:border-red-500 mx-1.5 sm:mx-2">ESTADIO</a>

                        <a href="#" class="border-b-2 border-transparent hover:text-gray-300 dark:hover:text-gray-100 hover:border-red-500 mx-1.5 sm:mx-2">TORNEOS</a>

                        <a href="#" class="border-b-2 border-transparent hover:text-gray-300 dark:hover:text-gray-100 hover:border-red-500 mx-1.5 sm:mx-2">MEDIOS</a>

                        <a href="#" class="border-b-2 border-transparent hover:text-gray-300 dark:hover:text-gray-100 hover:border-red-500 mx-1.5 sm:mx-2">CONTACTO</a>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->

        </div>
    </header>
{% endblock %}