


        <div class=" md:flex h-auto w-auto bg-red-600 mt-18 md:mt-20 mb-24 md:mb-18 p-5 md:p-10 grid grid-col-1 md:grid-cols-3 gap-10">

        <div class="md:w-1/3 md:col-span-1 bg-white rounded-md bg-cover bg-center h-auto">
            <a href=""><img src="/pics/img/xolos1.jpeg" alt="xolos-femenil" class="rounded-md"></a>
            <section class="h-24 w-auto bg-white text-center rounded-md">
                <h1 class="font-thin text-xl mt-2">JERSEY CHARLY ROSA AP20-21</h1>
                <button class="p-2 rounded-md bg-black hover:bg-red-600 text-base text-white mt-2">COMPRAR AHORA</button>
            </section>
        </div>
        
        <div class="md:w-1/3 md:col-span-1 bg-white rounded-md bg-cover bg-center h-auto"> 
            <a href=""><img src="/pics/img/xolos-2.jpeg" alt="xolos-local" class="rounded-md"></a>
            <section class="h-24 w-auto bg-white text-center rounded-md">
                <h1 class="font-thin text-xl mt-5">JERSEY CHARLY LOCAL AP20-21</h1>
                <button class="p-2 rounded-md bg-black hover:bg-red-600 text-base text-white mt-2">COMPRAR AHORA</button>
            </section>
        </div>

        <div class="md:w-1/3 md:col-span-1 bg-white rounded-md bg-cover bg-center h-auto"> 
            <a href=""><img src="/pics/img/xolos-3.jpeg" alt="xolos-visitante" class="rounded-md"></a>
            <section class="h-24 w-auto bg-white text-center rounded-md">
                <h1 class="font-thin text-xl mt-2">JERSEY CHARLY VISITANTE AP20-21</h1>
                <button class="p-2 rounded-md bg-black hover:bg-red-600 text-base text-white mt-2">COMPRAR AHORA</button>
            </section>
        </div>
        
     </div>

