{% extends 'base.html.twig' %}

{% block content %}

<div class=" grid justify-center place-content-center w-auto h-screen mt-10">
    <div class=" grid grid-cols-2 place-content-center pb-5 border-b-2 border-red-600 mx-5 md:mx-0">
            <div class=" col-span-1 flex">
                <h1 class=" text-8xl md:text-9xl font-thin">4</h1>
                <img src="/pics/img/Logo-Xolos-Red.png" alt="" class=" h-24 md:h-32">
                <h1 class=" text-8xl md:text-9xl font-thin">4</h1>
            </div>
        <div class=" grid justify-center place-content-center text-5xl md:text-6xl font-thin col-span-1">
            <p>NOT <br> FOUND</p>
        </div>
    </div>
    <h1 class=" text-base md:text-lg font-thin mt-4 text-center">PAGINA NO DISPONIBLE POR EL MOMENTO</h1>
</div>

{% endblock %}