{% extends 'base.html.twig' %}

{% block content %}

<h1 class=" text-center text-4xl mt-44 mb-10 text-gray-700">DIRECTIVA</h1>

<div class="grid grid-cols-1 md:grid-cols-2 mx-5 md:mx-10 lg:mx-20 place-content-center items-center justify-center gap-5">

    <div class=" col-span-1 grid justify-center">
        <div class=" py-4 md:py-8">
            <img src="https://xolos.com.mx/bundles/frontend/images/jorge_alberto.jpg" alt="" class="transform hover:-translate-y-2 duration-300 rounded-md border-2 border-gray-300 mb-1">
            <h1 class="text-center font-thin text-2xl lg:text-3xl mb-1 text-gray-700">JORGEALBERTO HANK</h1>
            <h2 class="text-center font-thin text-xl lg:text-2xl text-red-600">PRESIDENTE</h2>
        </div>
    </div>
    
    <div class=" col-span-1 grid justify-center">
        <div class="py-4 md:py-8">
            <img src="https://xolos.com.mx/bundles/frontend/images/gog.jpg" alt="" class="transform hover:-translate-y-2 duration-300 rounded-md border-2 border-gray-300 mb-1">
            <h1 class="text-center font-thin text-2xl lg:text-3xl uppercase mb-1 text-gray-700">Gog Alberto Murguía</h1>
            <h2 class="text-center font-thin text-xl lg:text-2xl text-red-600">VICEPRESIDENTE</h2>
        </div>
    </div>

</div>

<div class="grid grid-cols-1 md:grid-cols-2 mx-5 md:mx-10 lg:mx-20 place-content-center items-center justify-center gap-5">

    <div class=" col-span-1 grid justify-center">
        <div class="py-4 md:py-8">
            <img src="https://xolos.com.mx/bundles/frontend/images/juan_ignacio.jpg" alt="" class="transform hover:-translate-y-2 duration-300 rounded-md border-2 border-gray-300">
            <h1 class="text-center font-thin text-xl md:text-2xl text-gray-700">Juan Ignacio Palou</h1>
            <h2 class="text-center font-thin text-lg md:text-xl text-red-600">DIRECTOR GENERAL DEPORTIVO</h2>
        </div>
    </div>
    
    <div class=" col-span-1 grid justify-center">
        <div class="py-4 md:py-8">
            <img src="https://xolos.com.mx/bundles/frontend/images/roberto_cornejo.jpg" alt="" class="transform hover:-translate-y-2 duration-300 rounded-md border-2 border-gray-300">
            <h1 class="text-center font-thin text-xl md:text-2xl text-gray-700">Roberto Cornejo</h1>
            <h2 class="text-center font-thin texte-lg md:text-xl text-red-600">PRESIDENTE DEPORTIVO</h2>
        </div>
    </div>
</div>


<div class="grid grid-cols-1 md:grid-cols-2 mx-5 md:mx-10 lg:mx-20 place-content-center items-center justify-center gap-5">

    <div class=" col-span-1 grid justify-center">
        <div class="py-4 md:py-8">
            <img src="https://xolos.com.mx/bundles/frontend/images/jeronimo_vera.jpg" alt="" class="transform hover:-translate-y-2 duration-300 rounded-md border-2 border-gray-300 mb-1">
            <h1 class="text-center font-thin text-xl md:text-2xl mb-1 text-gray-700">Jeronimo Vera</h1>
            <h2 class="text-center font-thin text-lg md:text-xl text-red-600">DIRECTOR DE PLANEACIÓN ESTRATÉGICA</h2>
        </div>
    </div>
    
    <div class=" col-span-1 grid justify-center">
        <div class="py-4 md:py-8">
            <img src="https://xolos.com.mx/bundles/frontend/images/esteban_de_anda.jpg" alt="" class="transform hover:-translate-y-2 duration-300 rounded-md border-2 border-gray-300 mb-1">
            <h1 class="text-center font-thin text-xl md:text-2xl mb-1 text-gray-700">Esteban de Anda</h1>
            <h2 class="text-center font-thin text-lg md:text-xl text-red-600">DIRECTOR DE MERCADOTECNIA Y COMERCIALIZACIÓN</h2>
        </div>
    </div>

</div>

 {% endblock %}