{% extends 'base.html.twig' %}

{% block content %}


<div class="w-full mx-auto bg-black flex justify-center">
    <div class="w-full mx-auto mt-20 bg-black bg-no-repea bg-top bg-cover text-center flex justify-center filter brightness-50" style="background-image: url(https://agpnoticias.com/news/wp-content/uploads/2021/08/223800346_10157957446487130_5466060933576959215_n.jpeg); height: 90vh;"></div>
    <p class="text-4xl md:text-5xl lg:text-7xl text text-white m-auto filter-none absolute top-80 md:top-96 left-50 font-extrabold text-center" style="text-shadow:3px 3px 10px black;"> ESTADIO </p>
</div>

    <div class="text-justify mx-5 md:mx-10 lg:mx-20 my-10 h-auto">

    <h1 class="text-center text-2xl text-gray-700 my-16">ESTADIO CALIENTE</h1>

        <p class="text-justify text-base md:text-xl font-thin text-gray-600">
            
            Fundado en 2007 por la exigencia de contar con un aforo para cumplir con las características del proyecto de Primera División del Club Tijuana, el Estadio Caliente es la casa de los Xoloitzcuintles.
            <br>
            <br>
            Con una capacidad actual para 27,333 espectadores, el inmueble situado en el Hipódromo de Agua Caliente se ha convertido en un emblema de la Ciudad de Tijuana. La sensación y el aroma a futbol profesional se respiran por la zona y cada 15 días las inmediaciones del Territorio Xoloitzcuintle se convierten una zona de fiesta y ambiente familiar para disfrutar del deporte más hermoso del mundo.
            <br>
            <br>
            Actualmente, el estadio cuenta con 5 accesos para la comodidad de los aficionados al futbol. El inmueble está divido en 8 zonas. En las cabeceras se posicionan las porras más numerosas, en tanto que las Zonas 1 y 2, Corner y Central, cuenta con una vista inmejorable desde cualquier punto de la tribuna.
            <br>
            <br>
            Las zonas de palcos y VIP son otros puntos especiales en los espacios que ofrece el hogar de los Xoloitzcuintles.
        </p>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 mx-5 md:mx-10 lg:mx-20 w-auto h-auto gap-8 my-12 lg:my-28">

        <div class=" col-span-1 grid justify-center">
            <h1 class=" text-center text-2xl text-gray-700 mb-10 lg:mb-4">EL PROYECTO DEL CLUB TIJUANA</h1>
            <p class=" text-justify text-base md:text-xl font-thin text-gray-600">
                Por crecer en todos los sentidos también se centra en la capacidad del Estadio Caliente. La meta es culminar con la obra para que el aforo en el futuro sea de 33,333 aficionados, ya que los planos del Estadio incluyen la construcción de tribunas alternas en las cabeceras y la zona de palcos será un atractivo muy especial cuando la obra esté culminada.
            </p>
        </div>

        <div class=" col-span-1 w-auto bg-bottom rounded-md" style="background-image: url(https://xolos.com.mx/bundles/frontend/images/construccion_zona_2.jpg); height: 280px;">
        </div>

    </div>

    <p class="text-justify text-base md:text-xl font-thin mx-5 md:mx-10 lg:mx-20 text-gray-600 mb-12">
        El Estadio Caliente es un estadio de fútbol ubicado en Tijuana, Baja California, México. En él juega como local el Club Tijuana, un club profesional de fútbol mexicano que actualmente participa en la Primera División de México. Está ubicado en el exhipódromo de Agua Caliente. El Estadio Caliente, es un lugar de usos múltiples en Tijuana, Baja California, México.
        Se utiliza principalmente para partidos de fútbol y es la sede de los partidos de casa del Club Tijuana, un club que juega en la Primera División de México, en México. El estadio tiene una capacidad de 27,333 espectadores, la razón principal de la construcción de la cancha es su deseo de tener un club de fútbol profesional en la ciudad.
        <br>
        <br>
        El estadio fue inaugurado en noviembre de 2007. Después de eso, el Club Tijuana fue capaz de ser ascendido a la Primera División de México, debido a que la FEMEXFUT exige que los equipos que participen en la Primera División tener un estadio con una capacidad de más de 15000.
        <br>
        <br>
        La construcción de la cancha fue prevista en dos partes. La primera parte terminó la parte baja de la cancha y el terreno. La segunda fase va desde noviembre de 2007 a enero de 2008, el estadio seguirá siendo construido. Posteriormente se realizaron renovaciones en su diseño final, aumentando su capacidad para albergar el mundial sub-17 de la FIFA; pero en octubre fue rechazado el estadio por la FIFA para albergar el Mundial.
    </p>

    {% endblock %}