{% extends 'base.html.twig' %}

{% block content %}

<div class="w-full mx-auto bg-black flex justify-center">
    <div class="w-full mx-auto mt-20 bg-black bg-no-repea bg-top bg-cover text-bottom flex justify-center filter brightness-75" style="background-image: url(https://i.ytimg.com/vi/yRx9uZQMXeE/maxresdefault.jpg); height: 90vh;"></div>
    <p class="text-4xl md:text-5xl lg:text-7xl text text-white m-auto filter-none absolute top-80 md:top-96 left-50 font-extrabold text-center" style="text-shadow:3px 3px 10px black;"> EVENTOS </p>
</div>


<div class="grid grid-cols-1 lg:grid-cols-2 mx-5 md:mx-20 gap-5 my-20 bg-gray-100 p-5 rounded-md">

    <div class=" col-span-1 grid justify-center p-5">
        <h1 class=" text-center text-2xl text-gray-700 mb-5">TOUR ESTADIO CALIENTE</h1>
        <p class=" text-justify text-base md:text-xl font-thin mb-5 text-gray-700">
            Recorre las instalaciones del equipo fronterizo y conoce los rincones m치s sagrados del Estadio Caliente. La visita es 100% guiada y conocer치s muchos lugares que te dejar치n sorprendido, finalizando el recorrido en Red y Black Rooms.
        </p>

        <div class="grid grid-cols-2 my-5">

            <div class=" col-span-1 grid justify-center"> 
                <h1 class=" text-center text-xl text-gray-700 mb-5">INCLUYE</h1>
                <ul class="text-gray-700 text-justify text-base md:text-xl font-thin">
                    <li>-P. Prensa: 15 min</li>
                    <li>-Vestidores: 15 min</li>
                    <li>-Cancha: 15 min</li>
                    <li>-Xoloshop: 15 min</li>
                </ul>
            </div>
            <div class=" col-span-1 grid justify-center">
                <h1 class=" text-center text-xl text-gray-700 mb-5">COSTOS</h1>
                <ul class="text-gray-700 text-justify text-base md:text-xl font-thin">
                    <li>$800 MN/pna</li>
                    <li>Max 50 personas</li>
                    <li>Min 20 personas</li>
                </ul>
            </div>

        </div>

    </div>

    <div class=" col-span-1 h-56 md:h-96 w-full lg:h-auto lg:w-auto bg-center bg bg-cover rounded-md" style="background-image: url(https://xolos.com.mx/bundles/frontend/images/estadio/tour_estadio_caliente_xolos_cupula.jpg);">
    </div>

</div>


<!-- EVENTO 2 -->
<div class="grid grid-cols-1 lg:grid-cols-2 mx-5 md:mx-20 gap-5 my-20 bg-gray-100 p-5 rounded-md">

    <div class=" col-span-1 grid justify-center p-5">
        <h1 class=" text-center text-2xl text-gray-700 mb-5">EVENTOS MASIVOS</h1>
        <p class=" text-justify text-base md:text-xl font-thin lg:mt-10 mb-5 text-gray-700">
            El Estadio Caliente es una muestra de lo que ofrece Tijuana, un claro ejemplo de lo mejor de la ciudad para los eventos por su capacidad y multifuncionalidad. Conciertos, Expos, Lanzamientos, Xpilots son solo algunos ejemplos de la amplia gama de eventos que pueden llevarse a cabo en el inmueble. 
        </p>

        <div class="my-3 lg:my-14 text-center text-xl text-gray-700">
            Costo: $100,000.00 m.n.
        </div>

    </div>

    <div class=" col-span-1 h-56 md:h-96 w-full lg:h-auto lg:w-auto bg-center bg bg-cover rounded-md" style="background-image: url(https://xolos.com.mx/bundles/frontend/images/estadio/xpilots1.jpg);">
    </div>

</div>


<!-- EVENTO 3 -->

<div class="grid grid-cols-1 lg:grid-cols-2 mx-5 md:mx-20 gap-5 my-20 bg-gray-100 p-5 rounded-md">

    <div class=" col-span-1 grid justify-center p-5">
        <h1 class=" text-center text-2xl text-gray-700 mb-5">BODAS Y POSADAS</h1>
        <p class=" text-justify text-base md:text-xl font-thin lg:mt-10 mb-10 text-gray-700">
            Organiza tus eventos con nosotros, en el recinto del equipo de la frontera ademas de festejar tu evento conoce un poco de nuestras instalaciones. 
        </p>
        <p class="text-center text-2xl text-gray-700 mb-2">COSTOS</p>
        <div class="grid grid-cols-2 justify-center">

            <div class=" col-span-1 justify-center">
                <p class="  text-center text-base md:text-xl lg:mt-10 mb-1 text-gray-700">
                    Bodas
                </p>
                <p class="  text-center text-base md:text-xl font-thin mb-5 text-gray-700">
                    $100,000 MN
                </p>
            </div>
            <div class=" col-span-1 justify-center">
                <p class="  text-center text-base md:text-xl lg:mt-10 mb-1 text-gray-700">
                    Posadas
                </p>
                <p class="  text-center text-base md:text-xl font-thin mb-5 text-gray-700">
                    $340 MN/pna
                </p>
            </div>

        </div>

    </div>

    <div class=" col-span-1 h-56 md:h-96 w-full lg:h-auto lg:w-auto bg-center bg bg-cover rounded-md" style="background-image: url(https://xolos.com.mx/bundles/frontend/images/estadio/boda.jpg);">
    </div>

</div>

<!-- EVENTO 4 -->

<div class="grid grid-cols-1 lg:grid-cols-2 mx-5 md:mx-20 gap-5 my-20 bg-gray-100 p-5 rounded-md">

    <div class=" col-span-1 grid justify-center p-5">
        <h1 class=" text-center text-2xl text-gray-700 mb-5 lg:mt-10">EVENTOS ESPECIALES HIPODROMO</h1>
        <p class=" text-justify text-base md:text-xl font-thin lg:mt-14 mb-5 text-gray-700">
            Organiza tu evento en nuestro sal칩n ubicado dentro de Hipodromo Caliente. 
        </p>

        <div class="my-3 lg:my-14 text-center text-xl text-gray-700">
            Costo: $100,000.00 m.n.
        </div>

    </div>

    <div class=" col-span-1 h-56 md:h-96 w-full lg:h-auto lg:w-auto bg-center bg bg-cover rounded-md" style="background-image: url(https://xolos.com.mx/bundles/frontend/images/estadio/hipodromo.png);">
    </div>

</div>

<h1 class=" text-center text-2xl text-gray-700 mb-10 lg:mt-10 underline">CONTACTO ESTADIO</h1>

<div class="grid grid-cols-2 mx-5 md:mx-54 xl:mx-72 mb-20 gap-3">
    <div class="grid justify-center text-center">
        <h1 class=" text-justify md:text-center text-xl text-gray-700 mb-5 lg:mt-2">VICEPRECIDENCIA</h1>
        <p class="text-justify text-base md:text-xl font-thin lg:mt-2 mb-5 text-gray-700">
            Correo: vicepresidencia@xolos.com.mx <br>
            Tel: (664) 622-59-33 <br>
            Cel: (664) 387-03-65 
        </p>
    </div>

    <div class="grid justify-center text-center">
        <H1  class="text-center text-xl text-gray-700 mb-5 lg:mt-2">REDROOM Y BLACKROOM</H1>
        <p class="text-justify text-base md:text-xl font-thin lg:mt-2 mb-5 text-gray-700">
            Correo: eventos@rnbrooms.com.mx <br>
            Tel: (664) 120 1010
        </p>
    </div>
</div>

 {% endblock %}