{% extends 'base.html.twig' %}

{% block content %}

    <div class="w-full mx-auto bg-black flex justify-center">

            <!-- Embed start -->
            <div id="fancompass-iframe-container"></div>
            <script src="https://fancompass.xolos.com.mx/embed-script"></script>
            <!-- Embed end -->

    </div>

{% endblock %}