{% extends 'base.html.twig' %}

{% block content %}

<div class="w-full mx-auto bg-black flex justify-center">
        <div class="w-full mx-auto mt-20 bg-black bg-no-repea bg-top bg-cover text-center flex justify-center filter brightness-50" style="background-image: url(https://3.bp.blogspot.com/-YjrclpYX938/Tegb3ig-sQI/AAAAAAAAQe0/JDFsYaVWTbc/s1600/XOLOS%2BCAMPEON%2B%252819%2529.JPG); height: 90vh;"></div>
          <p class="text-4xl md:text-5xl lg:text-7xl text text-white m-auto filter-none absolute top-80 md:top-96 left-50 font-extrabold text-center" style="text-shadow:3px 3px 10px black;"> HISTORIA DEL CLUB </p>
    </div>

    <div class="text-justify mx-5 md:mx-10 lg:mx-20 my-10 h-auto">

        <h1 class="text-center text-2xl text-gray-700 my-16">¡LLEGAMOS PARA QUEDARNOS!</h1>

        <p class="text-justify text-base md:text-xl font-thin text-gray-600">
            
            El Club Tijuana Xoloitzcuintles de Caliente llegó para quedarse. El equipo profesional de futbol de la Frontera cuenta con una rica historia llena de anécdotas memorables que hoy por hoy lo instalan como un referente en el balompié Azteca.
            <br>
            <br>
            El Club Tijuana Xoloitzcuintles de Caliente se fundó en el 2007 y cuatro años después, los Canes Prehispánicos se colocaron en el circuito de honor del futbol en México con el Ascenso a Primera División en el año 2011. Jorgealberto Hank Inzunza, Presidente, y Gog Murguía, Vicepresidente, encabezan el plan de mantener por mucho tiempo a Tijuana como una ciudad de Primera División.
            <br>
            <br>
            Desde sus inicios, el proyecto del Club Tijuana fue cimentando bases sólidas. Prueba de ello fue la creación de las Fuerzas Básicas y la construcción del Estadio Caliente, puesto que en sus inicios la Unidad Deportiva CREA de Tijuana fue el campo de batalla de nuestros Guerreros Rojinegros.
            <br>
            <br>
            Hoy en día, el Territorio Xoloitzcuintle mantiene su crecimiento y las divisiones juveniles de Xoloitzcuintles tienen un panorama alentador con la participación en Torneos Nacionales Sub 13, Sub 15, Sub 17 y Sub 20, así como el certamen de Tercera División. Los equipos juveniles del Club Tijuana también tienen roce internacional y la participación de los Xoloitzcuintles juveniles en el Torneo Future Champions de Belo Horizonte, Brasil 2011, y la gira realizada en Argentina ese mismo año son parte del rodaje con el que se prepara a los Xoloitzcuintles del futuro.
            <br>
            <br>
            La apertura del Centro de Iniciación Xoloitzcuintles ha sido significante para el Club Tijuana. Actualmente, la matrícula de alumnos en la Escuela de Futbol Infantil del Club Tijuana cuenta con más de 500 inscritos, situación que motivó a la apertura de nuevos planteles en la frontera, así como en los municipios de Rosarito, Ensenada, así como en Chula Vista y Temecula, ya en el territorio de California.
            <br>
            <br>
            Otro de los pilares del proyecto en el Club Tijuana es la Escuela Nacional de Directores Técnico, Campus Xoloitzcuintles, la cual ha generado una buena cantidad de nuevos entrenadores, los cuales también tienen la oportunidad de ganarse su lugar en el futbol profesional mexicano.
            <br>
            <br>            
            Nuestra historia inició en domingo. Estábamos en el Estadio Marte R. Gómez de Ciudad Victoria, Tamaulipas, cumpliendo con nuestro primer partido ante los Correcaminos de la UAT. El 14 de Enero de 2007 quedó marcado en la primera página de nuestro libro, el cual cuenta con una historia llena de éxitos y de recuerdos que están presentes en nuestra Institución.
            <br>
            <br>
            Con el Director Técnico Víctor Rangel al mando, los Xoloitzcuinltes iniciaron su camino en el balompié profesional. Nueve años después, la escuadra de la Frontera Norte ha logrado generar un arraigo importante para la Ciudad de Tijuana.
            <br>
            <br>
            Pasaron cuatro años de la creación del equipo Rojinegro cuando se cumplió el anhelo de llegar a la Primera División, y fue en el quinto aniversario cuando los Xoloitzcuintles le dieron a Tijuana su primer campeonato en el máximo circuito del balompié Azteca.
            <br>
            <br>
            La ilusión de jugar la Copa Libertadores, así como la Liga de Campeones de la CONCACAF se cumplió en el año 2013. Los Xoloitzcuintles expusieron un gran futbol a nivel internacional y dejaron huella con la mentalidad de volver a pisar esos terrenos.
            <br>
            <br>
            En este noveno aniversario, el Club Tijuana buscará regalarle una alegría a sus aficionados. Con la llegada de Miguel Herrera al banquillo Rojinegro se inició una nueva era para el equipo de la Frontera, y la intención de volver a ser campeones está presente.
        </p>
    </div>

{% endblock %}