{% extends 'base.html.twig' %}

{% block content %}

<div class="mx-5 md:mx-10 lg:mx-24 lg:mx-14 h-auto w-auto mt-36 md:mt-44 mb-20">

<h1 class=" text-center text-2xl text-gray-700 mb-5 lg:mt-10">REGLAMENTO PALCO DE PRENSA Y PATROCINADORES</h1>

<p class="text-justify text-base md:text-xl font-thin lg:mt-14 mb-10 text-gray-700">
1. Los boletos de Palco se entregan en las oficinas del Club Tijuana como máximo un día antes del partido de 9 a 14hrs. No se entregarán boletos fuera de este horario ni el mismo día del partido.
<br>
<br>
2. Los boletos son personales e intransferibles. Toda persona en el palco debe contar con boleto del mismo.
<br>
<br>
3. No se permitirá el acceso a palco con boletos de otra zona.
<br>
<br>
4. Una vez iniciado el partido, el asiento no se garantiza.
<br>
<br>
5. El boleto deberá presentarse con el boletero asignado para su escaneo y posteriormente se el coordinador de palco de patrocinadores les asignará sus asientos. Una vez otorgados se les solicita respetarlos sin realizar movimientos no autorizados.
<br>
<br>
6. El servicio incluye bebidas y comida de cortesía disponible. Propina voluntaria.
<br>
<br>
7. Toda persona que se encuentre realizando disturbios dentro del palco será desalojada a la brevedad.
<br>
<br>
8. Por respeto a la institución, no se permite el ingreso a Palco de Prensa y Patrocinadores a personas con vestimenta alusiva al equipo rival.
<br>
<br>
9. Los boletos de palco no podrán ser utilizados con fines promocionales. Aplica única y exclusivamente para directivos y empleados de la empresa que respresentan.
<br>
<br>
10. No está permitido fumar en el interior del palco. 
</p>
</div>

{% endblock %}