{% extends 'base.html.twig' %}

{% block content %}

    <div class="mx-5 md:mx-10 lg:mx-24 lg:mx-14 h-auto w-auto mt-36 md:mt-44 mb-20">
        <h1 class=" text-center text-2xl text-gray-700 mb-5 lg:mt-10">XOLOPASS</h1>
        <div class="text-justify text-base md:text-xl font-thin lg:mt-14 mb-10 text-gray-700">
            <h3 class="font-semibold">¿Qué es Xolopass?</h3>
            <p>El XoloPass es el bono de temporada que te ofrece acceso a todos los encuentros del equipo en casa de la Liga MX y la Liga MX femenil durante el torneo regular, así como diferentes y exclusivas promociones para los aficionados más perrones.</p>
            <br>
            <h3 class="font-semibold">Fechas de renovación:</h3>
            <br>
            <h3 class="font-semibold">-Renovación #PerroAmor del 17 al 23 de diciembre.</h3>
            <p>Este torneo no sólo mantendremos los precios del Clausura 2020, sino que contaremos con una renovación de XoloPass nunca antes vista: La Renovación #PerroAmor.
                Demuestra el #PerroAmor que tienes a tu equipo renovando el lugar que tenías en el Torneo Clausura 2020 porque sabemos que para nuestra afición su XoloPass en el estadio no es un lugar más, es SU LUGAR. Con la renovación #PerroAmor todos los poseedores de XoloPass Clausura 2020 podrán contar con un 30% de descuento adicional al precio especial de renovación que ya se manejaba.</p>
            <br>
            <h3 class="font-semibold">-Renovación del 27 al 30 de diciembre.</h3>
            <p>En caso de que se te hayan pasado las fechas de renovación #PerroAmor todavía tendrás días para renovar a precio preferencial.</p>
            <br>
            <h3 class="font-semibold">Fechas de nueva adquisición:</h3>
            <br>
            <h3 class="font-semibold">-Nueva adquisición para aficionados con XoloPass 3 y 4 de enero.</h3>
            <p>Fecha para que nuestros aficionados con XoloPass adquieran nuevos asientos.</p>
            <br>
            <h3 class="font-semibold">-Nueva adquisición disponible a partir del 5 de enero.</h3>
            <p> Fecha para que nuestros nuevos aficionados adquieran su XoloPass.</p>
            <br>
            <h3 class="font-semibold">Horario de taquilla:</h3>
            <p>
                Lunes a viernes 9:00 a.m. a 6:30 p.m. <br>
                <strong>Días festivos:</strong> Viernes 24 a domingo 26 de diciembre y Viernes 31 de diciembre a domingo 2 de enero.
            </p>
            <br>
            <h3 class="font-semibold">¿Quiénes pueden participar en la renovación?</h3>
            <p>Todo el afcionado con XoloPass Clausura 2020</p>
            <br>
            <h3 class="font-semibold">¿Dónde puedo renovar?</h3>
            <p>Te sugerimos realizar la renovación de tu XoloPass a través del sitio de xolos.xtixs.com o en las instalaciones del Estadio Caliente en Black Room</p>
            <br>
            <h3 class="font-semibold">¿Cómo renuevo en internet?</h3>
            <p>Todos los aficionados con XoloPass del torneo Clausura 2020 recibirán un correo electrónico (al correo que registraron al momento de compra) con un link que te dirigirá a la página de renovación de XoloPass.</p>
            <p>Te recomendamos tener a la mano la tarjeta con la que realizarás el pago.
                Al finalizar tu compra te llegará un mail de bienvenida con tus localizadores de XoloPass al correo electrónico que registraste. ¡Ya puedes hacer uso de tu XoloPass!
            </p>
            <br>
            <h3 class="font-semibold">¿Cómo comprar en internet?</h3>
            <strong>Para la venta especial a aficionados con XoloPass el día 03 y 04 de enero el procedimiento es el siguiente: </strong>
            <ul class="list-unstyled">
                <li>1. Ingresa al sitio <a class="underline" href="https://xolos.xtixs.com" target="_blank">xolos.xtixs.com</a></li>
                <li>2. Da Click en "COMPRAR" y en "¿Tienes un código promocional?"</li>
                <li>3. Ingresa el localizador de tu Xolopass Clausura 2020 como código promocional y valida tu código</li>
                <li>4. Selecciona la cantidad y zona en que deseas adquirir tu Xolopass</li>
                <li>5. Realiza tu pago</li>
                <li>6. Recibe y descarga tus Xolopass digitales</li>
            </ul>
            <br>
            <strong>La adquisición de nuevo Xolopass estará disponible a partir del 05 de enero del 2022 y se realizará de la siguiente manera:</strong>
            <ul class="list-unstyled">
                <li>1. Entrar a la página de xolos.xtixs.com</li>
                <li>2. Seleccionar la cantidad de asientos que deseada (disponibles) y la zona de tu preferencia.</li>
                <li>3. Ingresar un correo electrónico vigente.</li>
                <li>4. Elegir el pago de tarjeta con la que vayas a pagar tu XoloPass e ingresa correctamente tus datos.</li>
                <li>5. Te llegará un mail de bienvenida con tus localizadores de XoloPass al correo electrónico que registraste. ¡Ya puedes hacer uso de tu XoloPass!</li>
            </ul>
            <br>
            <h3>¿Qué pasará si el torneo Clausura 2022 se cancela por motivos de COVID-19?</h3>
            <p>En un escenario en el que se cierre el estadio (ÚNICAMENTE por motivos de pandemia COVID-19). Los partidos cancelados serán compensados para la siguiente renovación de XoloPass.</p>
            <h3 class="font-semibold">¿Tienes más dudas?</h3>
            <p>Nos puedes mandar un mensaje a Whatsapp: +55 664 388 2502 </p>
            <br>
            <h3 class="font-semibold">¿Deseas asistencia telefónica o realizar tu compra vía telefónica?</h3>
            <p>En caso de que requieras asistencia telefónica para comprar tus XoloPass o desees adquirirlos vía telefónica nos puedes contactar al teléfono: +52 664 387 3832.</p>
            <p>Te sugerimos tener a la mano: Correo electrónico al que deseas que te lleguen tus XoloPass y la tarjeta con la que realizarás el pago.</p>
            <br>
            <h3 class="font-semibold">COMPRAR XOLOPASS...</h3>
            <a href="https://xolos.xtixs.com" target="_blank" class="w-28 flex items-center justify-center px-8 py-1 border border-transparent text-base font-medium rounded-md text-white bg-red-600 hover:bg-red-700 md:py-2 md:text-lg md:px-10">Comprar</a>
        </div>
    </div>

{% endblock %}