{% extends 'base.html.twig' %}

{% block content %}
 
 <style>
            .embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
            }
            .embed-container iframe {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            @media (min-width: 768px) {

                .embed-container {
                padding-bottom: 33.33%;
                } 

                }
            </style>

    <div class=" h-auto w-full grid justify-center mt-40 md:mt-44 mb-5 lg:mb-10">
       <h1 class="text-3xl text-center mb-3 text-gray-700">TIENDA OFICIAL XOLOSHOP</h1>
    </div>

    <div class=" mx-5 md:mx-10 lg:mx-20 grid grid-cols-1 lg:grid-cols-5 h-auto w-auto md:gap-5">
        <div class=" col-span-3 md:pr-14">
            <h2 class="text-xl mb-3 text-red-600">Xoloshop Estadio</h2>
            <p class="text-justify text-base md:text-xl font-thin text-gray-600">

                Te esperamos en #Xoloshop del Estadio Caliente: Boulevard Agua Caliente, 12027, Hipódromo, 22000 Tijuana, BC, México. <br> <br>
                Tel: (664) 622-59-33 <br> <br>
                Correo Electronico: tienda.oficial11@xolos.com.mx <br> <br>
                Horario: De Lunes a Sábado de 9:00 am a 9:00 pm. <br> <br>
                Domingos en día de partido(local y visita) de 4:00 pm a 9:00 pm.

            </p>
        </div>

        <div class=" col-span-2 mt-10 md:mt-0 border border-gray-400 rounded-md">
            <div class=" h-auto w-ful grid justify-center rounded-md">
                <img src="{{ asset('images/xoloshop_1280X291.jpg') }}" alt="" class=" rounded-t-md object-cover">
                <h1 class="text-2xl text-center mb-3 text-red-600 my-3">Xoloshop Online</h1>
                <p class="text-justify text-base md:text-xl font-thin text-gray-600 mb-3 p-3">
                    La tienda oficial de Club Tijuana esta en linea visitanos y adquiere tus productos de una manera mas fácil y rapida</p>
                <a href="https://xoloshop.com/" class=" grid justify-center p-3"><button class=" h-10 w-20 bg-black text-white rounded-md mx-auto text-lg">Visitar</button></a>
            </div>
        </div>
    </div>

    <div class=" grid justify-center mx-5 md:mx-20 my-10 md:my-20 embed-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1682.3729948660934!2d-116.99477864127807!3d32.5062176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9480412852dcf%3A0x38aa5c4b91a67969!2sXoloshop%20Estadio!5e0!3m2!1ses!2smx!4v1638211117061!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" class=" rounded-md"></iframe>
    </div>

{% endblock %}