<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Club Tijuana Xoloitzcuintles de Caliente{% endblock %}</title>
    {# Tailwindcss via CDN #}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/490c71ac8a.js" crossorigin="anonymous"></script>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
    {% include 'backend/partials/header.html.twig' %}

    <main>
            {% block content %}
                <div>
                    <h1> Layout for admin panel</h1>
                </div>
            {% endblock %}

    </main>
</body>
</html>
