<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="rgba(220, 38, 38)"/>
    <title>{% block title %}Club Tijuana Xoloitzcuintles de Caliente{% endblock %}</title>
    {# Tailwindcss via CDN #}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/themes/splide-default.min.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link rel="icon" href="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos/10751/10751.png">
    <link rel="stylesheet" href="/css/modal-video.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/490c71ac8a.js" crossorigin="anonymous"></script>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}

</head>
<body class="bg-gray-200" style="font-family: 'Oswald', sans-serif;">
    {% include 'partials/header.html.twig' %}

    <main>
        {% block body %}

            {% block content %}

            {% endblock %}

        {% endblock %}

    </main>

    {% include 'partials/footer.html.twig' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/jquery-modal-video.min.js"></script>
    <script src="js/apiYouTube.js"></script>
    <script src="https://kit.fontawesome.com/c4db48404f.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/490c71ac8a.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        //jquery for toggle dropdown menus
        $(document).ready(function(){
            //toggle sub-menus
            $(".sub-btn").click(function(){
                $(this).next(".sub-menu").slideToggle();
            });

            //toggle more-menus
            $(".more-btn").click(function(){
                $(this).next(".more-menu").slideToggle();
            });
        });

        //javascript for the responsive menu
        var menu = document.querySelector(".menu");
        var menuBtn = document.querySelector(".menu-btn");
        var closeBtn = document.querySelector(".close-btn");

        menuBtn.addEventListener("click", () => {
            menu.classList.add("active");
        });

        closeBtn.addEventListener("click", () => {
            menu.classList.remove("active");
        });
    </script>
</body>
</html>
